extends layouts/layout-primary

block content
	.container
		h1 Hello World	
		p The footer below is an example component. The component's markup used in the styleguide can be found in footer.styl. Don't forget to remove the padding on the body element in base.styl.
block footer
	include modules/footer
