$absolute-cover
	position absolute
	top 0
	bottom 0
	right 0
	left 0
	margin auto

$truncated
	width 100%
	overflow hidden
	white-space: nowrap
	text-overflow: ellipsis

.center
	align()

.triangle
	width: 0
	height: 0
	border-style: solid
	border-width: 1.3rem 1.3rem 1.3rem 0
	border-color: transparent black transparent transparent