jeet.gutter = 3.2

rupture.scale = 0px 360px 540px 680px 720px 940px 1024px 1140px 1220px
// Numbers are      1     2     3     4     5     6      7      8
rupture.enable-em-breakpoints = true
rupture.base-font-size = 16px

// COLORS ///////////////////////////////////////

twitter = #55acee
facebook = #3b5998
linkedin = #0077b5

// FONTS ////////////////////////////////////////
// (Add fonts in front of 'sans-serif')
sansserif = sans-serif