jeet.gutter = 3.2

rupture.scale = 0px 360px 540px 680px 720px 940px 1024px 1140px 1220px
// Numbers are      1     2     3     4     5     6      7      8
rupture.enable-em-breakpoints = true
rupture.base-font-size = 16px

// COLORS ///////////////////////////////////////

lightblue = #72cdf4 // rgba(114, 205, 244, 1)
blue = #50b3cf // rgba(80, 179, 207, 1)
darkblue = #00728f // rgba(0 114 143, 1)

green = #6db33f // rgba(109, 179, 63, 1)
darkgreen = #387c2c // rgba(56, 124, 44, 1)

gray = #c4bdc0 // rgba(196, 189, 192, 1)
darkgray = #666666 // rgba(102, 102, 102, 1)

deepblack  = #000000 // rgba(0, 0, 0, 1)
black  = #303030 // rgba(0, 0, 0, 1)

linkedin = #0077b5

// FONTS ////////////////////////////////////////

sansserif = sans-serif